html
{
    font-size: 16px;
    /* background-color: rgb(214, 39, 39); */
}
body
{
     background: url("fuck.jpg"); 
     background-size:cover;
     background-attachment: fixed;
    /* background-color: rgba(214, 39, 39, 0); */
}

#Canvas
{
    
    border-style: solid;
    border-width: 2px;
    border-color: blue;
}

.ControlRoom_one
{
    display: inline;
    padding-top: 2px;
    margin-left: 5px;
    padding-left: 15px;
    padding-right: 16px; 
    border-right-width: 2px;
    border-right-style: solid;
    border-radius: 15px;
    border-right-color: rgba(51, 74, 172, 0.089);
    background-color: rgba(240, 248, 255, 0.884);

}

label
{
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid grey;
    font-size: 16px;
    height: auto;
}

label:hover
{
    background-color: rgba(113, 113, 238, 0.842);
    color : white;
}
#profile_pic
{
    font-size: 15px;
    padding-top: 5px;
    display: none;
}
#image-preview
{
    /* width: 293px; */
    max-width: 293px;
    max-height: 400px;
    height: auto;
}

.ControlRoom_two
{
    padding-left: 10px;
    padding-right: 2px;
    font-size: 16px;
    background-color: rgba(240, 248, 255, 0.884);
    border-radius: 15px;
}

#navbar {

    display: -webkit-flex;  
    display: flex;
    /* display : inline;  */
    flex-direction: row;  
    padding-left: 280px ; 
    text-align: center;
    height : 50px;
    margin-bottom: 10px;
    /* background-color: rgb(197, 157, 46); */
    border-radius: 100px;
}



#navbar a {
     text-decoration: none; 
    align-content: center;
	color: #484848;
     padding: 12px 20px; 
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
}

#navbar a.selected {
    border-radius: 999rem;
    background-color: rgba(255, 255, 255, 0);
	color: black;
	font-weight: bold;
}
#navbar a:hover {
    color: rgb(200, 255, 0);
    background-color: rgba(180, 37, 236, 0.479);
    
}
#navbar a.steady{
    color: rgb(200, 255, 0);
    background-color: rgb(180, 37, 236);
}

.selected {
    color: white;
    background: steelblue;
}

#stripe
{
    padding-top: 3px;
    /* background: url("wood.jpg"); */
}

.line_control
{
    border: 1px solid black;
}

#spare
{
    
    padding-left : 670px;
}
#DownloadButton
{
    text-decoration: none; 
    background-color: rgba(180, 37, 236, 0.479);
    color : rgb(123, 255, 0);
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 50px;

    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;

}
#download a:hover
{
    background-color: rgb(180, 37, 236);
    color : rgb(255, 255, 0);
}
#circle img
{
    width : 50px;
    height : 50px;
}

div.solid-circle
{
    border-radius: 10px;
    padding : 2px;
}
div.solid-circle:hover
{
    background-color: aliceblue;
    border : 1px solid black;
    
}
div.solid-circle.steady
{
    background-color: rgb(241, 240, 255);
    border : 1px solid black;
}
div.solid-circle span
{
    margin-left: 4px;
}


div.hollow-circle
{
    border-radius: 10px;
    padding : 2px;
}
div.hollow-circle:hover
{
    background-color: aliceblue;
    border : 1px solid black;
    
}
div.hollow-circle.steady
{
    background-color: rgb(241, 240, 255);
    border : 1px solid black;
}